<!DOCTYPE html>
<html>
<head>
	<title>	Profile</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/profile.css">
	
</head>
<body class="bg-image">
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	<%- include("navbar") %>

	<div class="container bg-text" style="padding:0px 50px; margin:100px 0px;">
		<!-- My code -->
		<div class="container emp-profile" class="mainprofile">
				<div class="row">
					<div class="col-md-4 details">
						<div class="profile-img">
							<img src="/<%=user.image%>" alt="">
						</div>
						<br>
						<h5 class="name">
								<%=user.name%> <a href="<%=user.linkedin%>"><img src="/images/linkedin.png" style="height:27px; width:27px"></a>
						</h5>
						<h6>
							<%=user.bio%>
						</h6>
					</div>
					<div class="col-md-7">
						<div class="profile-head">
							<ul class="nav nav-tabs" id="myTab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
										aria-controls="home" aria-selected="true">About</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
										aria-controls="profile" aria-selected="false">Posts</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="profile-tab" data-toggle="tab" href="#events" role="tab"
										aria-controls="profile" aria-selected="false">Events</a>
								</li>
							</ul>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="tab-content profile-tab" id="myTabContent">
									<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">			
										<div class="row">
											<div class="col-md-5">
												<label>Name</label>
											</div>
											<div class="col-md-7">
												<p><%=user.name%></p>
											</div>
										</div>
										<% if(user.pusername!=true){ %>
										<div class="row">
											<div class="col-md-5">
												<label>Email</label>
											</div>
											<div class="col-md-7">
												<p><%=user.username%></p>
											</div>
										</div>
										<% } %>
										<% if(user.pphoneno!=true && user.phoneno){ %>
										<div class="row">
											<div class="col-md-5">
												<label>Phone</label>
											</div>
											<div class="col-md-7">
												<p><%=user.phoneno%></p>
											</div>
										</div>
										<% } %>
										<% if(user.plocation!=true && user.location && user.location != "-1"){ %>
										<div class="row">
											<div class="col-md-5">
												<label>Location</label>
											</div>
											<div class="col-md-7">
												<p><%=user.location%></p>
											</div>
										</div>
										<% } %>
										<% if(user.pgender!=true && user.gender){ %>
										<div class="row">
											<div class="col-md-5">
												<label>Gender</label>
											</div>
											<div class="col-md-7">
												<p><%=user.gender%></p>
											</div>
										</div>
										<% } %>
										<% if(user.college){ %>
										<div class="row">
											<div class="col-md-5">
												<label>College/School</label>
											</div>
											<div class="col-md-7">
												<p><%=user.college%></p>
											</div>
										</div>
										<% } %>
										<div class="row">
											<div class="col-md-5">
												<label>Skills</label>
											</div>
											<div class="col-md-7">
												<p>
													<% user.skills.forEach(skill=> { %>
														<span><%= skill.name %>   </span>    
													<% }) %>
												</p>
											</div>
										</div>
										<div class="row">
											<div class="col-md-5">
												<label>Willing to Mentor </label>
											</div>
											<div class="col-md-7">
												<p><%=user.isMentor%></p>
											</div>
										</div>
										<% if(user.currentStatus=="study"){ %>
											<div class="row">
												<div class="col-md-5">
													<label>Current College/School </label>
												</div>
												<div class="col-md-7">
													<p><%=user.collegename%></p>
												</div>
											</div>
											<div class="row">
												<div class="col-md-5">
													<label>Course </label>
												</div>
												<div class="col-md-7">
													<p><%=user.course%></p>
												</div>
											</div>
											<div class="row">
												<div class="col-md-5">
													<label>Year </label>
												</div>
												<div class="col-md-7">
													<p><%=user.year%></p>
												</div>
											</div>
										<% } else if(user.currentStatus=="company"){ %>
											<div class="row">
												<div class="col-md-5">
													<label>Company Name </label>
												</div>
												<div class="col-md-7">
													<p><%=user.companyname%></p>
												</div>
											</div>
											<div class="row">
												<div class="col-md-5">
													<label>Job Profile </label>
												</div>
												<div class="col-md-7">
													<p><%=user.jobprofile%></p>
												</div>
											</div>
											<div class="row">
												<div class="col-md-5">
													<label>Company Location </label>
												</div>
												<div class="col-md-7">
													<p><%=user.companyloc%></p>
												</div>
											</div>
										<% } else if(user.currentStatus=="startup"){ %>
											<div class="row">
												<div class="col-md-5">
													<label>Startup Name </label>
												</div>
												<div class="col-md-7">
													<p><%=user.startupname%></p>
												</div>
											</div>
											<div class="row">
												<div class="col-md-5">
													<label>Website Link </label>
												</div>
												<div class="col-md-7">
													<p><%=user.website%></p>
												</div>
											</div>
										<% } else if(user.currentStatus=="other"){ %>
											<div class="row">
												<div class="col-md-5">
													<label>Currently involved in </label>
												</div>
												<div class="col-md-7">
													<p><%=user.otherdetail%></p>
												</div>
											</div>
										<% } %>
										
										<div class="row">
											<div class="col-md-5">
												<label>LinkedIn Profile</label>
											</div>
											<div class="col-md-7">
												<% if(!user.linkedin){ %>
													<p>Not Provided</p>
												<% }else{ %>
													<a href="<%=user.linkedin%>"><%=user.linkedin%></a>
												<% } %>
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
										<% posts.forEach(function(post){ %>
											<% if((post.author.username)==(user.name)&&post.type=="post"){ %>
												<div class="row post-row">
													<div class="col-4">
														<img src="/<%=post.image%>" class="post-img">
													</div>
													<div class="col-8 post-details">
														<h5 id="post-title"><%=post.title%><h5>
														<p id="post-content"><%=post.postcontent.substring(0,100)%>...</p>
														<a href="/post/<%=post._id%>" class="btn post-btn">View Post</a>
													</div>
												</div>
											<% } %>
										<% }); %>
									</div>
									<div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="profile-tab">
										<% posts.forEach(function(post){ %>
											<% if((post.author.username)==(user.name)&&post.type=="event"){ %>
												<div class="row post-row">
													<div class="col-4">
														<img src="/<%=post.image%>" class="post-img">
													</div>
													<div class="col-8 post-details">
														<h5 id="post-title"><%=post.title%><h5>
														<p id="post-content"><%=post.postcontent.substring(0,100)%>...</p>
														<a href="/post/<%=post._id%>" class="btn post-btn">View Event</a>
													</div>
												</div>
											<% } %>
										<% }); %>
									</div>
								</div>
							</div>
						</div>
					</div>
					<% if(user.username==currentUser.username){%>
					<div class="col-md-1">
						<a href="/profile/<%=user._id%>/edit" class="profile-edit-btn"> 🖊️ Edit </a>
					</div>
					<%}%>
				</div>
				
		</div>
	
	</div>
	<script src="https://use.fontawesome.com/5331faace7.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="/scripts/filter.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
</body>
</html>
